h1, h2 {font-size: 36px;
    font-weight: bold;
    color: rgb(51, 51, 51);
}
p {font-size: 18px;
    line-height: 32px;
    margin-bottom: 20px;

}
header {
    background-color: lightskyblue;
  background-image: url(images/header.jpg);
  font-weight: normal;
  height: 500px;
}
img {height: 500px;
}
div {border: 2px solid black;
    padding: 10px;
    width: 600px;
    margin-bottom: 20px;
    
}
a {color: #42b4d6;
font-weight: bold;
text-decoration: underline;
margin-bottom: 20px;
}
body {margin-left: 40px;

}
html {align-content: center;

}